<b>Dear [address] [first_name] [last_name],</b>
<p>thank you for your interest in the Object #[obj_id]. We attached the Object details and the disclaimer as PDF.</p>
<p>
    Kind Regards, <br>
    Dahmann Immobilien
</p>